@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: "Space";
    src: url("/public/fonts/SpaceMono-Bold.ttf");
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: "Space";
    src: url("/public/fonts/SpaceMono-Regular.ttf");
    font-weight: regular;
    font-style: normal;
}