@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --line-width: 0%;
    --shadow: 0px -20px 20px 0px rgba(255, 250, 233, 0.9);
}

@font-face {
    font-family: "Space";
    src: url("/fonts/SpaceMono-Bold.ttf");
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: "Space";
    src: url("/fonts/SpaceMono-Regular.ttf");
    font-weight: regular;
    font-style: normal;
}