---
import Layout from "../layouts/Layout.astro";
---

<style>
  .iframeContainer {
    padding: 20px;
    width: 100%;
    height: 100%;
  }

  iframe {
    width: 100%;
    height: 75vh;
    border: none;

    border: solid 1px black;
  }
</style>

<Layout title="Canvas - Antoine Ando">
  <div class="iframeContainer">
    <iframe src=" /canvas.html"></iframe>
  </div>
</Layout>
