---
import Layout from "../layouts/Layout.astro";
import { Button } from "@nextui-org/react";

import "../../global.css";
---

<Layout title="Welcome to Astro.">
  <main>
    <h1 class="text-accent text-7xl font-bold font-space">Antoine ANDO</h1>
    <h2 class="font-space text-2xl">Front-end Javascript Developer</h2>
  </main>
</Layout>
