---
import type { GetStaticPaths } from "astro";
import { Navbar, NavbarBrand, NavbarContent } from "@nextui-org/react";
import ThemeButton from "./ThemeButton.astro";
import NavContent from "./NavContent.jsx";

// export async function getStaticPaths() {
//   return [
//     { params: { client: "load" } },
//     { params: { client: "ssr" } },
//   ];

// }
---

<div class="flex">
  <NavContent client:load>
    <ThemeButton />
  </NavContent>
</div>
