---
import type { GetStaticPaths } from "astro";
import { Navbar, NavbarBrand, NavbarContent } from "@nextui-org/react";
import ThemeButton from "./ThemeButton.astro";
import NavContent from "./NavContent.jsx";
---

<div
  class="flex fixed w-full z-50 backdrop-blur-md border-[#ffefd2] border-b-2"
>
  <NavContent client:load>
    <ThemeButton />
  </NavContent>
</div>
