---
import React from "react";
import Layout from "../../layouts/Layout.astro";
import { sanityClient } from "sanity:client";
import { picture } from "astro-sanity-picture";

const projects = await sanityClient.fetch(
  `*[_type == "project" && defined(slug) && active==true] | order(publishedAt desc) {
    title,
    slug,
    description,
    ${picture("image")}
  }`
);

import ProjectCardComponent from "../../components/ProjectCardComponent";
---

<Layout title="Projects - Antoine ANDO">
  <h1 class="font-bold text-4xl mb-5">Projects</h1>

  <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-4 p-4">
    {
      projects.map((project: any) => {
        return (
          <a href={"/projects/" + project.slug.current}>
            <ProjectCardComponent
              title={project.title}
              subtitle={project.description}
            >
              <picture class="self-center">
                <img
                  src={project.image.asset.url + "?h=200"}
                  alt="Flowers"
                  class="h-[200px] object-cover"
                />
              </picture>
            </ProjectCardComponent>
          </a>
        );
      })
    }
  </div>
</Layout>
